<!--{% extends 'goods/base.html' %}-->
<!--{% load my_tags %}-->
<!--{% block content %}-->
<!--  <div class="product-card">-->
<!--    <img src="{% mymedia product.image %}">-->
<!--    <h2>{{ product.name }}</h2>-->
<!--    <p>{{ product.description }}</p>-->
<!--    <p>Price: {{ product.price }}</p>-->
<!--    <p>Category: {{ product.category }}</p>-->
<!--    &lt;!&ndash; Дополнительные данные о товаре, если нужно &ndash;&gt;-->
<!--  </div>-->
<!--{% endblock %}-->
{% extends 'goods/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12">
    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Продукт "{{ object.title }}" ({{ object.slug }})
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.body }}
                    </p>

                </div>
                <div class="card-footer"></div>
                    Просмотры: {{ object.views_count }}
            </div>
        </div>
        <div class="col-6">
            <img src="{% mymedia product.image %}">
        </div>
    </div>
</div>
{% endblock %}